<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no"/>
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="images/icons/favicon.ico" type="image/x-icon">

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <title>HUNDatfuenfazwang</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
  <link rel="stylesheet" href="styles/app.css"/>
  <link rel="stylesheet" href="styles/colors.css"/>
  
</head>
<body>
    <div id="app" style="display:none" :class="(!isLoggedIn || !groupTitle ? 'nli' : '')">
        <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" style="padding-right:0">
                    <img src="images/logo.svg" style="max-height:4.5rem" @click.stop="reload">
                </a>

                <a class="navbar-item" style="flex-direction: column; align-items: flex-start">
                    <h3 class="title primary-text is-4" style="padding-top:10px">HUNDatfuenfazwanzg</h3>
                    <h5 class="subtitle primary-text is-5" v-if="groupTitle">{{groupTitle}} - {{$route.meta.title}}</h5>
                    <h5 class="subtitle primary-text is-5" v-if="!groupTitle">{{$route.meta.title}}</h5>
                </a>

                <a style="margin-top:7px" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <template>
                        <router-link class="navbar-item link" to="/sales" v-show="isLoggedIn">Verkauf</router-link>
                        <router-link class="navbar-item link" to="/persons" v-show="isLoggedIn">Personen</router-link>
                        <router-link class="navbar-item link" to="/articles" v-show="isLoggedIn">Artikel</router-link>
                        <router-link class="navbar-item link" to="/logout" v-show="isLoggedIn">Ausloggen</router-link>
                        <span style="padding:0.8em;color:#808080;font-size:80%">Version {{version}}</span>

                    </template>
                </div>

            </div>
        </nav>
        <router-view></router-view>
    </div>
    <div id="logo" style="display:none;margin:0 auto;width:100%;height:100%;text-align:center">
        <img src="images/logo.svg" style="height:50%">
    </div>
   
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script>$("#logo").fadeIn(200);</script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/pouchdb/5.4.5/pouchdb.min.js"></script>

    <script src="scripts/libs/moment.js"></script>
    <script src="scripts/libs/thenBy.min.js"></script>
    
    <script src="scripts/util.js"></script>

    <script src="scripts/db/model/_base.js"></script>
    <script src="scripts/db/model/article.js"></script>
    <script src="scripts/db/model/person.js"></script>
    <script src="scripts/db/model/sale.js"></script>
    <script src="scripts/db/dbconfig.js"></script>
    <script src="scripts/db/db.js"></script>

    <script src="scripts/mixins/mixins.js"></script>

    <script src="scripts/pages/articles.js"></script>
    <script src="scripts/pages/article.js"></script>
    <script src="scripts/pages/login.js"></script>
    <script src="scripts/pages/logout.js"></script>
    <script src="scripts/pages/pay.js"></script>
    <script src="scripts/pages/persons.js"></script>
    <script src="scripts/pages/person.js"></script>
    <script src="scripts/pages/sales.js"></script>
    <script src="scripts/pages/sale.js"></script>

    <script src="scripts/components/buttons.js"></script>
    <script src="scripts/components/person-line.js"></script>
    <script src="scripts/components/sale-article-line.js"></script>
    <script src="scripts/components/sale-line.js"></script>
    <script src="scripts/components/article-line.js"></script>
    <script src="scripts/components/page-container.js"></script>
    <script src="scripts/components/modal-article-chooser.js"></script>
    <script src="scripts/components/modal-day-chooser.js"></script>
    <script src="scripts/components/modal-input.js"></script>
    <script src="scripts/components/modal-person-chooser.js"></script>
    <script src="scripts/components/modal-yesno.js"></script>
    <script src="scripts/components/search.js"></script>
    <script src="scripts/components/sale-person.js"></script>

    
    <script src="scripts/app.js?v103"></script>
</body>