:root {
  --primary-color: #1976d2;
  --primary_inverse-color: #ffffff;
  --additional-color: #FFD54F;
  --additional_inverse-color: #000000;
  --hover-color: #F0F0F0;
  --red-color: #eb0120;
}
.primary {
  background-color: var(--primary-color);
}
.primary-text {
  color: var(--primary-color);
}
.primary_inverse-text {
  color: var(--primary_inverse-color);
}
.additional {
  background-color: var(--additional-color);
}
.additional-text {
  color: var(--additional-color);
}
.additional_inverse-text {
  color: var(--additional_inverse-color);
}
.red {
  background-color: var(--red-color);
}
.red-text {
  color: var(--red-color);
}
